.header{
    // background:linear-gradient(to right, royalblue, rebeccapurple);
    // color: #fff;
    height: 100px;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    // background-image: url("pics/3571325.jpg");
    
    h1{
        font-size: 2rem;
        font-weight: 100;
        // border:1px solid green;
    }
}